<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/default.css">
	<title>The Battle of the DJs</title>
</head>

<body>

<center><h1>MP3 Audio Player</h1>

<!-- Search Bar -->
<div id="search">
	<form id="searchbar1">
	    <input id="searchbar" type="text" class="textinput" name="q" size="40" maxlength="120">
        <input type="submit" value="search" class="submitbutton" onClick="searchBtnClick()">
	</form>
</div>

<!-- Shortened URL Input -->
<div id="shorturl">
	<form id="shortened-url">
        <p>Share with your link: </p>
	    <input id="short-url" type="text" class="textinput" name="short" required onkeyup="validate()" size="21">
        <input type="submit" value="shorten" class="submitbutton">
	</form>
</div>

<!-- MP3 Player -->
<div id="mp3player">
    <audio id="mp3audio" src="" type="audio/mpeg" onended="getNextSong('false')" >
    </audio>
    <div class="songInfo"></div>
	<div class="loader">
	</div>
	<div class="controls">
		<a id="play" onClick="play()" href="#"><img src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-black/bfa/bfa_play/bfa_play_flat-circle-white-on-black_128x128.png" alt="Play Icon" width="30" height="30"><span>Play</span></a>
		<a id="pause" onClick="pause()" href="#"><img src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-black/foundation/foundation_pause/foundation_pause_flat-circle-white-on-black_128x128.png" alt="Pause Icon" width="30" height="30"><span>Pause</span></a>
		<a id="next" onClick="getNextSong('true')" href="#"><img src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-black/raphael/raphael_button-fast-forward/raphael_button-fast-forward_flat-circle-white-on-black_128x128.png" alt="Next Icon" width="30" height="30"><span>Next</span></a>
	</div>
</div>

<div id="urlDisplay">
    <p>Your shortened link is: </p>
</div>

</center>

</body>
</html>


