#mp3player {
	background-color:#ffffff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	color:#000000;
    padding-top:43px;
    padding-bottom:50px;
    font-family:helvetica, arial, verdana;
	font-weight:bold;
	width:300px;
}
        
#mp3player .loader {
	border:1px solid #000000;
	height:3px;
	margin:10px 0px
}
       
#mp3player .controls a {
    display:inline-block;
	width:33px;
	height:33px;
	margin:0px 14px;
	overflow:hidden;
}
		
#mp3player .controls a:hover {
	background-color:#2ecc71;
}
		
#searchbar1{
    padding-top:22px;
}
.textinput{
    margin: 0;
    padding: 5px 10px;
    font-size:14px;
    border:1px solid #000000; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
.submitbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    border: solid 1px #000000; border-right:0px;
    background: #000000;
   border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}
.submitbutton:hover {
    background: #2ecc71;
}